.bg-image {
    background-image: url('../../assets/images/bg02.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh; 
    width: 100%; 
    position: relative; /* To position the overlay */
}
